@import "https://unpkg.com/swiper/swiper-bundle.min.css";
@import "./components/container/container.css";
@import "./components/title/title.css";
@import "./components/card/cardGuestLoves.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
